@{
    ViewBag.Title = "SanPhamNSX";
}


@using ShopRuou.Models
@model List<chitietSP>


<div class="panel panel-default">
    <div class="panel-heading"><b>Danh sách sản phẩm: @ViewBag.tenNSX</b></div>
    <div class="panel-body">
        @if (ViewBag.sl == 0)
        {
            <p>No products</p>
        }
        else
        {
            <ul class="row">
                @foreach (chitietSP sp in @Model)
                {
                    <li class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <a href="@Url.Action("chitietSP", "Product", new {id = sp.maSP})"><img style="height:150px" src="~/themes/images/products/@sp.hinhanh1" alt="" /></a>
                            <div class="caption">
                                <h5>@sp.tenSP</h5>
                                <p>
                                    Wares: @sp.xuatxu
                                </p>
                                <h4 style="text-align:center;">
                                    <a class="btn" href="@Url.Action("chitietSP", "Product", new {id = sp.maSP})"><i class="fa fa-search-plus"></i></a>
                                    <a class="btn" href="#">Add to <i class="fa fa-shopping-basket"></i></a>
                                    <a class="btn" href="@Url.Action("chitietSP", "Product", new {id = sp.maSP})">Price: @sp.giaban</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <ul class="row">
                <li class="col-md-12">
                    <nav>
                        <ul class="pagination">
                            @if (ViewBag.curPage == 1)
                            {
                                <li><span aria-hidden="true">&laquo;</span></li>
                            }
                            else
                            {
                                <li><a href="?curPage=@ViewBag.prevPage" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            }
                            @for (int i = 1; i <= ViewBag.nPages; i++)
                            {
                                <li @if (i == ViewBag.curPage) { <text> class="active" </text>    }>
                                    <a href="?curPage=@i">@i</a>
                                </li>
                            }
                            @if (ViewBag.curPage == ViewBag.nPages)
                            {
                                <li><span aria-hidden="true">&raquo;</span></li>
                            }
                            else
                            {
                                <li>
                                    <a href="?curPage=@ViewBag.nextPage" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </li>
            </ul>
        }
    </div>
</div>

