
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link href="~/themes/css/base.css" rel="stylesheet" />
    <link href="~/themes/css/login.css" rel="stylesheet" />
    <link href="~/themes/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/themes/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/themes/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <link href="~/themes/bootstrap-3.3.6-dist/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/themes/css/menu.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>
    <div id="header" style="background-image: url('../../themes/images/head.jpg'); height:250px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">Welcome!<strong> User</strong></div>
                <div class="col-lg-6">
                    <strong>Call Us On: <span style="color:red;">0169xxxxxxx</span></strong>
                </div>
                <div class=""><a href="#login" role="button" data-toggle="modal" data-target="#login-modal" style="padding-right:0">Đăng nhập</a></div>
            </div>
        </div>
    </div>
    <nav class="">
        <div class="wrapper">
            <div class="main_menu">
                <ul>
                    <li><a class="acolor" href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a class="acolor" href="">Giới thiệu</a></li>
                    <li>
                        <a class="acolor" href="#">Sản phẩm</a>
                        <ul class="dropdown-menu">
                            @Html.Action("partialloaiSP", "Category")
                        </ul>
                    </li>
                    <li>
                        <a class="acolor" href="#">Nhà Sản Xuất</a>
                        <ul class="dropdown-menu">
                            @Html.Action("partialnhaSX", "Category")
                        </ul>
                    </li>
                    <li><a class="acolor" href="">Giỏ hàng</a></li>
                    <li><a class="acolor" href="">Liên hệ</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <a href="@Url.Action("Index","Home")"><img style="width: 100%; height: 300px;" src="~/themes/images/banner/1.png" alt="special offers" /></a>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="@Url.Action("Index","Home")"><img style="width:100%; height:300px;" src="~/themes/images/banner/2.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1>Login to Your Account</h1><br>
                <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>

                <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End====================================================================== -->

    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                <div id="sidebar" class="col-sm-1">
                </div>
                <div id="sidebar" class="col-sm-10">
                    @RenderBody()
                </div>
                <div id="sidebar" class="col-sm-1">
                </div>
                <!-- Sidebar end=============================================== -->
            </div>
        </div>
    </div>
    <!-- Footer ================================================================== -->
    <div id="footerSection">
        <div class="container">
            <p class="pull-right">&copy; TNV</p>
        </div><!-- Container End -->
    </div>
    <div style="height:30px;"></div>
    <script src="~/themes/js/jquery-1.12.2.min.js"></script>
    <script src="~/themes/js/google-code-prettify/prettify.js"></script>
    <script src="~/themes/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</body>
</html>