@using System.Threading
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootshop online Shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link id="callCss" rel="stylesheet" href="~/themes/bootstap/bootstrap.min.css" media="screen" />
    <link href="~/themes/css/base.css" rel="stylesheet" media="screen" />
    <link href="~/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/themes/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <link href="~/themes/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <style type="text/css" id="enject"></style>
</head>
<body>
    <div id="header">
        <div class="container">
            <div id="welcomeLine" class="row">
                <div class="span3">Welcome!<strong> User</strong></div>
                <div class="span3">
                    <strong>Call Us On: <span style="color:red;">0169xxxxxxx</span></strong>
                </div>
            </div>
            <!-- Navbar ================================================== -->
            <div id="logoArea" class="navbar">
                <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-inner">
                    <a class="brand" href="@Url.Action("Index","Home")"><img src="~/themes/images/logo.png" alt="Bootsshop" /></a>
                    <form class="form-inline navbar-search" method="post" action="products.html">
                        <input id="srchFld" class="srchTxt" type="text" />
                        <select class="srchTxt">
                            <option>All</option>
                            <option>CLOTHES </option>
                            <option>FOOD AND BEVERAGES </option>
                            <option>HEALTH & BEAUTY </option>
                            <option>SPORTS & LEISURE </option>
                            <option>BOOKS & ENTERTAINMENTS </option>
                        </select>
                        <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                    </form>
                    <ul id="topMenu" class="nav pull-right">
                        <li class=""><a href="#">Specials Offer</a></li>
                        <li class=""><a href="#">Delivery</a></li>
                        <li class=""><a href="#">Contact</a></li>
                        <li class="">
                            <a href="#login" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a>
                            <div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3>Login Block</h3>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal loginFrm">
                                        <div class="control-group">
                                            <input type="text" id="inputEmail" placeholder="Email" required>
                                        </div>
                                        <div class="control-group">
                                            <input type="password" id="inputPassword" placeholder="Password" required>
                                        </div>
                                        <div class="control-group">
                                            <label class="checkbox">
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </form>
                                    <button type="submit" class="btn btn-success">Sign in</button>
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End====================================================================== -->
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <a href="@Url.Action("Index","Home")"><img style="width: 100%; height: 400px;" src="~/themes/images/banner/1.png" alt="special offers" /></a>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="@Url.Action("Index","Home")"><img style="width:100%; height:400px;" src="~/themes/images/banner/2.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                <div id="sidebar" class="span3">
                    <div class="well well-small"><a id="myCart" href="product_summary.html"><img src="~/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
                    <ul id="sideManu" class="nav nav-tabs nav-stacked">
                        <li class="subMenu open">
                            <a>Category</a>
                            <ul>
                                @Html.Action("partialloaiSP", "Category")                   
                            </ul>
                        </li>
                    </ul>
                    <br />
                    <ul id="sideManu" class="nav nav-tabs nav-stacked">
                        <li class="subMenu open">
                            <a>Producer</a>
                            <ul>
                                @Html.Action("partialnhaSX","Product")
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    @RenderBody()
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img style="height:150px" src="~/themes/images/products/bauda.png" alt="" /></a>
                                <div class="caption">
                                    <h5>Bàu Đá</h5>
                                    <p>
                                        Xuất sứ: Bình Định
                                    </p>
                                    <h4 style="text-align:center;">
                                        <a class="btn" href="#"><i class="fa fa-search-plus"></i></a>
                                        <a class="btn" href="#">Add to <i class="fa fa-shopping-basket"></i></a>
                                        <a class="btn btn-primary" href="#">$10</a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img style="height:150px" src="~/themes/images/products/nepviet.png" alt="" /></a>
                                <div class="caption">
                                    <h5>Nếp Việt Vodka</h5>
                                    <p>
                                        Xuất sứ: 
                                    </p>
                                    <h4 style="text-align:center;">
                                        <a class="btn" href="#"><i class="fa fa-search-plus"></i></a>
                                        <a class="btn" href="#">Add to <i class="fa fa-shopping-basket"></i></a>
                                        <a class="btn btn-primary" href="#">$10</a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!-- Footer ================================================================== -->
        <div id="footerSection">
            <div class="container">
                <p class="pull-right">&copy; TNV</p>
            </div><!-- Container End -->
        </div>
        <div style="height:30px;"></div>
        <!-- Placed at the end of the document so the pages load faster ============================================= -->
        <!---->
        <script src="~/themes/js/jquery.js" type="text/javascript"></script>
        <script src="~/themes/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/themes/js/google-code-prettify/prettify.js"></script>
        <script src="~/themes/js/bootshop.js"></script>
        <script src="~/themes/js/jquery.lightbox-0.5.js"></script>
</body>
</html>